/* OVERALL CSS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  h3{
    font-size: 24px!important;
  }
  
  /*NAVBAR*/

  form#demo-2 {
    padding: 15px;
}
  
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top {
    background-color: #333333!important;
  }
  
  a.nav-link {
    color: #ccc!important;
    font-size: 18px!important;
    padding: 15px 15px!important;
  }
  
  img.navbar-brand {
    max-width: 190px;
  }
  .profile_picture_toggle{
  max-height: 50px;  
  cursor: pointer;
  }
  
  /*Profil menu*/
  #sidebar-wrapper {
    background-color: #333333 !important;
  }
  a.list-group-item.list-group-item-action.bg-dark {
    background-color: #333333 !important;
  }
  a.list-group-item.list-group-item-action.bg-dark {
    color: #ccc!important;
  }

  .profileButton{
    margin: 0px 15px!important;
    border-radius: 50px!important;
    overflow: hidden;
  }

  .profilPicMenu{
    max-width: 100px;
  }

  .sideMenuTop{
    /* margin: 56px; */
    margin: 40px;
    margin-bottom: 20px;
    width: 100%;
  }

  .profileName{
    margin: 10px;
    color: #ccc;  
  }
  
  /*search*/
  
  /* input[type="search"] {
    border: none;
  } */

  .frmSearch {
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .frmSearch input {
    height: 42px;
    border: none;
    padding: 0px 5px;
  }

  .frmSearch button{
    height: 42px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    background-color: white;
  }

  .frmSearch button i{
    font-size: 34px;
    width: 100%;
    height: 100%;
    color: #333333;
  }

  h1 {
    font: 1.7em;
    line-height: 110%;
    color: #000;
  }
  p {
    margin: 0 0 20px;
  }
  
  
  input {
    outline: none;
  }
  input[type=search] {
    -webkit-appearance: textfield;
  box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none; 
  }
  
  
  input[type=search] {
    background: url("../img/iconfinder-icon (2).svg") no-repeat 9px center;
    padding: 9px 10px 9px 45px;
    width: 60px;
  
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #FFC800;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
  }
  
  /* Demo 2 */
  #demo-2 input[type=search] {
    width: 15px;
    padding-left: 25px;
    color: transparent;
    cursor: pointer;
  }
  #demo-2 input[type=search]:hover {
    background-color: #fff;
  }
  #demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
  }
  #demo-2 input:-moz-placeholder {
    color: transparent;
  }
  #demo-2 input::-webkit-input-placeholder {
    color: transparent;
  }
  
  
  /*SIDEBAR MENU*/
  div#wrapper {
    overflow: hidden;
}

    #sidebar-wrapper {
      min-height: 100vh;
      margin-right: -20rem;
      margin-top: 56px;
      -webkit-transition: margin .25s ease-out;
      -moz-transition: margin .25s ease-out;
      -o-transition: margin .25s ease-out;
      transition: margin .25s ease-out;
      width: 20vw;
    }
    
    #sidebar-wrapper .sidebar-heading {
      padding: 1.7 rem 1.25rem;
      font-size: 1.2rem;
    }
    
    #sidebar-wrapper .list-group {
      /* width: 15rem; */
      width: 20rem;
    }
    
    #page-content-wrapper {
      min-width: 100vw;
      margin-top: 55px;
    }
    
    #wrapper.toggled #sidebar-wrapper {
      margin-right: 0;
    }
    
    @media (min-width: 768px) {
      #sidebar-wrapper {
        margin-right: 0;
      }
    
      #page-content-wrapper {
        min-width: 0;
        width: 100%;
      }
    
      #wrapper.toggled #sidebar-wrapper {
        margin-right: -24rem;
      }
    }

    .nedersteLinks{
      /* margin-top: 60px; */
      margin-top: 20px;
    }


    /*FOOTER*/

    #footer {
      background: #333333 !important;
      padding: 65px;
  }
  #footer h5{
      padding-bottom: 6px;
      margin-bottom: 20px;
      color:#ffffff;
  }
  
  #footer li {
      color: #ccc;
      margin: 10px 0px;
  }
  
  @media (max-width:767px){
    #footer h5 {
      padding-left: 0;
      padding-bottom: 0px;
      margin-bottom: 10px;
  }
  }

  .kontaktLink{
    color: #FFD400;
    text-decoration: none;
  }
  .kontaktLink:hover{
    color: rgb(208, 174, 1);
    text-decoration: none;
  }

    .footerIndhold{
      margin-left: 47px;
    }
